body {
  font: 12px/1.3em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #4E2721;  
  padding: 0;
  margin: 0;
}

#header {
  background: #431011 url('images/back-swirl.png') repeat-x;
  position: relative;
  overflow: auto;
}

#information {
  background: #E3CB9F url('images/tanback2.png') repeat-x;
  padding-top: 30px;
  position: relative;
}

#information-inner, #header-inner {
  margin: 0 auto;
  width: 969px;
}

h1 {
  margin-right: -130px;
  margin-left: -20px;
  padding: 0;
  float: left;
}

#images {
  position: absolute;
  margin-top: -300px;
  left: 510px;
/*  float: right;*/
}

#images img {
  border: 15px solid #E1E1E1;
}

h2 { 
  clear: both;
  padding: 10px;
  margin: 0;
}

#info {
  text-align: center;
}

#footer {
  text-align: right;
  margin-top: 70px;
  padding-bottom: 10px;
}